# .2bit files about compressed FASTA species genomes
*.2bit

# Composer files
vendor/

# Configuration files
config/settings.yml

# Database SQL files
dumps/

# Log and debugging files
logs/

# Miscellaneous project files
*.bak
.env
*.sql.gz

# Node modules
html/node_modules/

# VS Code files
ispcr.code-workspace
.vscode/launch.json
