# .2bit files about compressed FASTA species genomes
*.2bit

# Composer files
vendor/

# Configuration files
config/settings.yml

# Log and debugging files
logs/

# Miscellaneous project files
*.bak
.env
*.sql.gz

# Node modules
html/node_modules/

# VS Code files
isPCR.code-workspace
