version: "3"

services:
    php_server:
        build: ./
        volumes:
            - ./:/var/www
        ports:
            - 80:80
        depends_on:
            - ispcr_server
            - mariadb_server
    ispcr_server:
        build: ./go/ispcrserver
        volumes:
            - ./go/ispcrserver/assets:/assets
    mariadb_server:
        image: mariadb:10.5
        # 2097152 = 2MB 
        #command: --group_concat_max_len=2097152
        ports:
            - 3306:3306
        volumes:
            - ./dumps:/docker-entrypoint-initdb.d
        environment:
            - MYSQL_ROOT_PASSWORD
            - MYSQL_DATABASE
            - MYSQL_USER
            - MYSQL_PASSWORD
            - TZ=America/New_York
